* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./image/weather-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-container {
    margin-bottom: 20px;
}

.d-flex.justify-content-center span {
    display: flex;
    justify-content: center;
}

.text {
    padding: 12px;
    border: 0;
    border-radius: 10px 0px 0px 10px;
}

.btn {
    padding: 12px;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    margin-left: -4px;
}

.degree {
    color: white;
    font-size: 20px;
}

.humidity {
    color: white;
    font-size: 20px;
    margin-top: 11px;
}

.wind-speed {
    color: white;
    font-size: 20px;
    margin-top: 11px;
}

.forecast-container {
    display: flex;
    margin-left: -50px;
}

.forecast {
    margin-left: 50px;
}